* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8;
}

/* Toolbar Button Styling */
.toolbar {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #FFF9EF;
    padding: 10px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.toolbar__icon {
    width: 15px;
    height: 15px;
}

.toolbar button {
    padding: 10px 15px;
    font-size: 0.3em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: #f2f0de;
    transition: transform 0.2s ease, border 0.2s ease; /* Smooth transition */
    display: inline-block; /* Ensure button doesn't affect surrounding elements */
    box-sizing: border-box; /* Includes padding and border in the element's width and height */
    outline: none; /* Remove outline for cleaner look */
    flex-shrink: 0; /* Prevents button from shrinking */
    width: fit-content; /* Ensures the button's width doesn't change */
}

.toolbar button:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    border: 2px solid #003d82; /* Add a border */
}

/* Optional - If the toolbar itself shifts due to flexbox behavior */
.toolbar button:focus {
    outline: none;
}
/* Popup Window Styling */
.journal-popup {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 400px;
    height: 300px;
    min-width: 300px;
    min-height: 200px;
    max-width: 80vw;
    max-height: 80vh;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    resize: both;
}

/* Popup Header Styling */
.journal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgba(9,31,91,1);
    background-color: transparent;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

/* Close Button Styling */
.close-button {
    font-size: 30px;
    cursor: pointer;
    position: absolute; /* Position the button absolutely within the header */
    top: 10px; /* Adjust this value as needed for vertical alignment */
    right: 10px;
}

/* Iframe Styling */
.journal-iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
}

/*Back Button Styling */
.back-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 1rem;
    transition: all 0.1s;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    padding: 0.6em 2em;
    border: none;
    background-color: #FFF9EF;
    color: #0a2472;
    font-family: "Comfortaa", sans-serif;
  }