.whiteboard {
    max-width: 500px;
    margin: 0 auto;
    background-color: #FFF9F0; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20px;
    left: 20px;
    width: 500px;
    height: 400px;
    overflow: hidden;
    z-index: 1000;
}

/* Header for Pop-up with Close Button */
.whiteboard .header {
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    color: rgba(9,31,91,1);
    padding: 10px;
    border-radius: 8px 8px 0 0;
    cursor: move;
}

.whiteboard .close-button {
    font-size: 30px;
    cursor: pointer;
}

/* Iframe Styling for Embedded Whiteboard */
.whiteboard-iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    background-color: white;
}

/* Resizable Handle */
.resize-handle {
    width: 16px;
    height: 16px;
    background-color: #ccc;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    border-radius: 2px;
}

.button {
    position: flex;
    color: #f7f2eb;
    background-color: rgba(9,31,91,1);
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f7f2eb;
    color: rgba(9,31,91,1);
}